<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
    <style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>

<body bgcolor="#BAE0FF">
<a th:href="@{/people}" style="font-size:150%;">Назад</a>

<h2>Лични данни</h2>

<table class="myTable">
    <tr align="center" style="font-size:130%;">
        <th>Име</th>
        <th>Фамилия</th>
        <th>Пол(F/M)</th>
        <th>Височина</th>
        <th>Дата на раждане</th>
        <th>Държава</th>
        <th>Град</th>
        <th>Квартал</th>
        <th>Пощенски код</th>
        <th>Улица</th>
        <th>Номер на улица</th>

    </tr>
    <form th:action="@{/people/newPerson}" method="post">
        <td><input type="text" name="firstName" placeholder="Име"></td>
        <td><input type="text" name="lastName" placeholder="Фамилия"></td>
        <td><input type="text" name="gender" placeholder="Пол"></td>
        <td><input type="text" name="height" placeholder="Височина"></td>
        <td><input type="text" name="birthday" placeholder="Дата на раждане"></td>
        <td><input type="text" name="country" placeholder="Държава"></td>
        <td><input type="text" name="city" placeholder="Град"></td>
        <td><input type="text" name="municipality" placeholder="Квартал"></td>
        <td><input type="text" name="postcode" placeholder="Пощенски код"></td>
        <td><input type="text" name="streetName" placeholder="Улица"></td>
        <td><input type="text" name="streetNumber" placeholder="Номер на улица"></td>
        <td><input type="submit" value="Добави"/></td>
    </form>
</table>
</body>
</html>