<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Details</title>
    <style>
    table.myTable {
  font-family: "Times New Roman",Times,serif;
  border: 1px solid #FFFFFF;
  background-color: #E0D1FF;
  width: 70%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: auto;
  overflow-x: hidden;
}
table.myTable td, table.myTable th {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 3px 2px;
}
table.myTable tbody td {
  font-size: 20px;
}
table.myTable tr:nth-child(even) {
  background: #BAE0FF;
}
table.myTable tfoot td {
  font-size: 14px;
}

  input[type=submit] {
  width: 100%;
  background-color: #B057E1;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #EFB5FF;
}

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">

<a th:href="@{/people}" style="font-size:150%;">Назад</a>

<h2>Лични данни</h2>

<table class="myTable">
    <tr>
        <td th:text="|Име|"></td>
        <td th:text="|${person.firstName} ${person.lastName}|"></td>
    </tr>
    <tr>
        <td th:text="|Пол|"></td>
        <td th:text="|${person.gender}|"></td>
    </tr>
    <tr>
        <td th:text="|Рождена дата|"></td>
        <td th:text="|${person.birthday}|"></td>
    </tr>
    <tr>
        <td th:text="|Височина|"></td>
        <td th:text="|${person.height}|"></td>
    </tr>
    <tr>
        <td th:text="|Адрес|"></td>
        <td th:utext="|${person.address.streetNumber} ${person.address.streetName} <br/>
                      ${person.address.postCode} ${person.address.municipality} <br/>
                      ${person.address.city}, ${person.address.country}|"></td>
    </tr>
    <tr>
        <td th:text="|Проверка|"></td>
        <form th:action="@{/people/{id}(id=${person.id})}" method="get">
            <td th:if="${param.checkEligible}"
                th:text="${person.getSocialAidAmount().orElse('Няма право на социални помощи!')}"></td>
            <td th:unless="${param.checkEligible}">
                <input type="submit" name="checkEligible" value="Стойност на социални помощи"/>
            </td>
        </form>

    </tr>

</table>

<h2>Образование</h2>

<p th:if="${person.educations.isEmpty()}" style="font-size:150%;">Няма информация за образование!</p>

<table class="myTable">
    <tr align="center" style="font-size:130%;">
        <th>Вид образование</th>
        <th>Институция</th>
        <th>Дата на започване</th>
        <th>Дата на завършване</th>
    </tr>
    <form th:action="@{/people/{id}/education(id=${person.id})}" method="post">
        <td><input type="text" name="institutionType" placeholder="Вид образование"></td>
        <td><input type="text" name="institutionName" placeholder="Институция"></td>
        <td><input type="text" name="enrollmentDate" placeholder="Дата на започван"></td>
        <td><input type="text" name="graduationDate" placeholder="Дата на завършване"></td>
        <td><input type="text" name="isGraduated" placeholder="Завършено"></td>
        <td><input type="text" name="grade" placeholder="Оценка"></td>
        <td><input type="submit" value="Нов запис"/></td>
    </form>
    <tr th:each="education : ${sortedEducations}">
        <td th:text="|${education.getClass().getSimpleName()}|"></td>
        <td th:text="|${education.institutionName}|"></td>
        <td th:text="|${education.enrollmentDate}|"></td>
        <td th:if="|${education.hasGraduated()}|"
            th:text="|${education.graduationDate}|"></td>
        <td th:unless="|${education.hasGraduated()}|"
            th:text="|${education.graduationDate} (очаквана дата)|"></td>
    </tr>
</table>

<h2>Социални осигуровки</h2>

<p th:if="${person.socialInsuranceRecords.isEmpty()}" style="font-size:150%;">Няма информация за социални осигуровки!</p>

<table class="myTable">
    <tr align="center" style="font-size:130%;">
        <th>Година</th>
        <th>Месец</th>
        <th colspan="2">Сума</th>
    </tr>
    <form th:action="@{/people/{id}(id=${person.id})}" method="post">
        <td><input type="text" name="year" placeholder="Година"></td>
        <td><input type="text" name="month" placeholder="Месец"></td>
        <td><input type="text" name="amount" placeholder="Сума"></td>
        <td><input type="submit" value="Нов запис"/></td>
    </form>
    <tr th:each="record : ${sortedInsuranceRecords}">
        <td th:text="|${record.yearMonth.getYear()}|"></td>
        <td th:text="|${record.yearMonth.getMonthValue()}|"></td>
        <td th:text="|${record.amount}|" colspan="2"></td>
    </tr>

</table>

</body>
</html>